.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/003.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 500px;
}
.main-heading {
    margin-top: 320px;
    margin-bottom:20px;
}


