.main-heading {
    margin-top: 320px;
    margin-bottom:0px;
}
.subheading{
    margin-bottom: 20px;
    margin-top: 10px;
}
#logo{
    padding: 0px;
    margin: 0px;
}
img {
    width: 100%;
    height: 500;
}

